<!DOCTYPE html>
<html>
<head>
    <title>Telegram Web App</title>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
</head>
<body>
<form id="authForm">
    <input type="text" id="accountId" placeholder="Введите номер аккаунта" required>
    <button type="submit" >Авторизоваться</button>
</form>
<div id="link-container" style="display: none">

    <a id="mirrorLink" href="" target="_blank">Перейти</a>
</div>

<script>
    const authForm = document.getElementById('authForm');
    const tg = window.Telegram.WebApp;
    const linkContainer = document.getElementById('link-container');
    const mirrorLink = document.getElementById('mirrorLink');
    const urlParams = new URLSearchParams(window.location.search);
    const id = urlParams.get('id');

    authForm.addEventListener('submit', (e) => {
        e.preventDefault();
        const accountId = document.getElementById('accountId').value;
        const data = {
            telegramId: tg.initDataUnsafe.user.id,
            accountId: accountId,
            id: id
        };

        fetch('/api/webapp/auth', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        })
            .then((response) => response.json())
            .then((result) => {
                if (result.success) {
                    mirrorLink.href = result.link;
                    linkContainer.style.display = 'block';
                } else {
                    alert('Ошибка авторизации: ' + result.message);
                }
            });
    });
</script>
</body>
</html>